* {
  font-family: 'Raleway', sans-serif;
}

img {
	max-width: 100%;
}

body {
  font-family: Verdana, sans-serif;
}


p {
  font-family: 'Lato', sans-serif;
  color: #47545D;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

nav a {
  color: #8197A8;
  text-decoration: none;
  text-transform: uppercase;
  margin: 1em 1.5em;
}

.emailform {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.articles, .about {
  margin: 10px 20px;
}

footer nav a {
  color: #47545D;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}
/*nav {
  text-align: center;
}*/

.links {
  display: flex;
  justify-content: space-around;
}

h1, h2, h3, h4 {
  text-transform: uppercase;
  color: #47545D;
}

li a {
  color: #8197A8;
  text-decoration: none;
}

footer {
  background-color: #D4F2F5;
  height: 13em;

}

footer p {
  color: #47545D;
  text-align: center;
}

i {
  margin: auto 0.8em;
}

li {
  margin: 5px auto;
}

header {
  background-image:url("../imgs/blog_header_bg.jpg");
  background-size: cover;
  background-position: center;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  color: #FFFFFF;
}

footer input {
  padding: 11px 10px;
  width: 300px;
  margin-right: 30px;
  border: 0;
  text-align: center;
}

footer .wrap {
  padding: 30px 15px;
}

input {
  outline: 0;
  border: 2px solid #44545E;
  color: #44545E;
  padding: 8px 25.5px;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 1.2px;
  margin: 0.2em;
}

textarea {
  outline: 0;
  border: 2px solid #44545E;
  color: #44545E;
  padding: 8px 25.5px;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 1.2px;
  margin: 0.2em;
  width: 88%;
}

button {
  cursor: pointer;
  outline: 0;
  border: 2px solid #44545E;
  color: #44545E;
  padding: 8px 25.5px;
  background-color: transparent;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 12.299px;
  letter-spacing: 1.2px;
}

#leave-comment {
  text-align: center;
}

.leave-a-comment-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 3em;
}

.col-half {
  width: 40%;
}

.form-button {
  width: 95%;
}

button:hover {
  background-color: #44545E;
  color: white;
  font-weight: 600;
}

.articles button {
  margin-top: 30px;
}

h1 {
  text-align: center;
}
